                             LAB ASSIGNMENTS 

                Module 1: Data Science and Programming Tools
    
                              Data Analytics

### Q1. Find all statistics using describe function on following on train_XnW6LSF.csv dataset

In [1]:
#Importing required libraries in one cell followed as a best practise in every Jupyter notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importing dataframe 

df = pd.read_csv(r"D:\1_AJINKYA_PAWAR\3_SOFTWARE JOB\1_CDAC\3_AI_Course\Lab_Assignment_Module_1\train_XnW6LSF.csv")
df
#Dataframe imported and displayed as below

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

#### Q1: A. Records of every item:: describe various statistics about every item type record

In [3]:
#First of all we will find out the names of every item type record using .column property. 
# The columns property returns the label of each column in the DataFrame.

df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [4]:
#Catrgorical columns are filterd and only numerical columns are displayed. 

print(df[['Item_Identifier','Item_Weight','Item_Fat_Content','Item_Visibility',
       'Item_Type', 'Item_MRP' ]].describe())

       Item_Weight  Item_Visibility     Item_MRP
count  7060.000000      8523.000000  8523.000000
mean     12.857645         0.066132   140.992782
std       4.643456         0.051598    62.275067
min       4.555000         0.000000    31.290000
25%       8.773750         0.026989    93.826500
50%      12.600000         0.053931   143.012800
75%      16.850000         0.094585   185.643700
max      21.350000         0.328391   266.888400

#### Q2: B. Records of every Outlet_Location_Type:: describe various statistics about every Outlet_Location_Type record

In [5]:
#Catrgorical columns are filterd and only numerical columns are displayed. 



print(df[['Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type',  'Item_Outlet_Sales']].describe())

       Outlet_Establishment_Year  Item_Outlet_Sales
count                8523.000000        8523.000000
mean                 1997.831867        2181.288914
std                     8.371760        1706.499616
min                  1985.000000          33.290000
25%                  1987.000000         834.247400
50%                  1999.000000        1794.331000
75%                  2004.000000        3101.296400
max                  2009.000000       13086.964800

In [6]:
#COMMON ANSWER for Q1 A and B 

#For Q1 A and B, same answers can be obtined simply by applying describe for whole dataframe.
#It keeps aside categorical columns and gives us the output. 

# In Pandas decribe() method is used to find various statistics about every(Numerical) record. 

df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

                                            ***

#### Q2. Analyze location type wise Dairy product sales

In [7]:
# For this question we will analyse location typewise sales using describe method. 
# Here groupby is used to analyse location typewise sales 

sales_analysis = df.groupby('Outlet_Location_Type')['Item_Outlet_Sales'].describe()

sales_analysis

,count,mean,std,min,25%,50%,75%,max
Outlet_Location_Type,,,,,,,,
Tier 1,2388.0,1876.909159,1561.649293,33.9558,593.72715,1487.3972,2803.0180,9779.9362
Tier 2,2785.0,2323.990559,1520.543543,99.8700,1171.80800,2004.0580,3110.6176,9664.7528
Tier 3,3350.0,2279.627651,1912.451333,33.2900,731.38130,1812.3076,3307.6944,13086.9648

                                            ***

#### Q3. Which outlets are oldest? Arrange outlets as per their age of establishment

In [26]:
# To find oldest outlet we will first findout oldest year of establishment 
# Then we will filter the outlets based on the oldest year and disolay their names. 
# After that we will arrange the outletes as per their establishment in the dataframe. 

df['Outlet_Establishment_Year'].min()

1985

In [27]:
#we will filter the outlets based on the oldest year and disolay their name

oldest_outlets = df.loc[df['Outlet_Establishment_Year'] == 1985]
                     
oldest_outlets #It displayed total 1463 outelets with

#However when unique method is applied on 'Outlet_Identifier' and 'Outlet_Type' it showed only two outlets. 
#they are displayed in the next cells.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [28]:
#As per outlet identifier 'OUT027', 'OUT019' are the oldest outlets

oldest_outlets['Outlet_Identifier'].unique()

array(['OUT027', 'OUT019'], dtype=object)

In [29]:
#As per outlet type 'Supermarket Type3', 'Grocery Store' are the oldest outlets

oldest_outlets['Outlet_Type'].unique()

array(['Supermarket Type3', 'Grocery Store'], dtype=object)

In [32]:
# Arranging the outlets as per their age of establishment. We will .sort_values method. 

df_sorted = df.sort_values('Outlet_Establishment_Year')

df_sorted

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4338,FDH21,NaN,Low Fat,0.031074,Seafood,157.5604,OUT027,1985,Medium,Tier 3,Supermarket Type3,5704.5744
3689,FDD53,NaN,Low Fat,0.044008,Frozen Foods,43.7454,OUT027,1985,Medium,Tier 3,Supermarket Type3,671.1264
1139,FDH26,NaN,Regular,0.034532,Canned,142.2496,OUT027,1985,Medium,Tier 3,Supermarket Type3,2399.5432
1138,FDM21,NaN,Low Fat,0.064052,Snack Foods,256.1646,OUT027,1985,Medium,Tier 3,Supermarket Type3,7472.2734
3691,FDY36,NaN,Low Fat,0.016477,Baking Goods,74.3380,OUT019,1985,Small,Tier 1,Grocery Store,146.4760
...,...,...,...,...,...,...,...,...,...,...,...,...
3600,FDX31,20.35,Regular,0.014886,Fruits and Vegetables,234.4958,OUT018,2009,Medium,Tier 3,Supermarket Type2,3271.7412
5053,NCO53,16.20,Low Fat,0.175898,Health and Hygiene,183.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,2940.1728
7710,NCR18,15.85,Low Fat,0.020571,Household,41.6112,OUT018,2009,Medium,Tier 3,Supermarket Type2,255.6672
5750,FDV26,20.25,Regular,0.076471,Dairy,196.1794,OUT018,2009,Medium,Tier 3,Supermarket Type2,2731.1116
7378,FDJ26,15.30,Regular,0.085110,Canned,215.7218,OUT018,2009,Medium,Tier 3,Supermarket Type2,1923.4962

                                            ***

#### Q4. Which high size outlets are having minimum low fat / LF products?
#### Is there any small size outlet close to such these values of stocks for low fat / LF?

In [36]:
# high size outlets are having minimum low fat / LF product

highsize_lowfat_outlets = df.loc[(df['Outlet_Size'] == 'High') & (df['Item_Fat_Content'] == 'Low Fat')]

highsize_lowfat_outlets #It shows comptehensive list 

# However when .unique method is applied on Outlet_Type it shows "Supermarket Type 1" as the answer.
# It is displayed in the next cell

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,1987,High,Tier 3,Supermarket Type1,850.8924
109,DRK49,14.150,Low Fat,0.035914,Soft Drinks,41.4138,OUT013,1987,High,Tier 3,Supermarket Type1,812.2760
...,...,...,...,...,...,...,...,...,...,...,...,...
8438,FDE26,9.300,Low Fat,0.088932,Canned,143.3786,OUT013,1987,High,Tier 3,Supermarket Type1,3034.0506
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [37]:
#Name of high size low fat outlet.

highsize_lowfat_outlets['Outlet_Type'].unique()

array(['Supermarket Type1'], dtype=object)

#### Q4: Part 2: Is there any small size outlet close to such these values of stocks for low fat / LF?

In [39]:
#small size outlet close to such these values of stocks for low fat / LF


smallsize_lowfat_outlets = df.loc[(df['Outlet_Size'] == 'Small') & (df['Item_Fat_Content'] == 'Low Fat')]

smallsize_lowfat_outlets


# After using unique method we found- 'Supermarket Type1', 'Grocery Store' are the small size outlet 
# close to such these values of stocks for low fat / LF. Displayed in the next cell.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
22,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
34,DRH01,17.50,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997,Small,Tier 1,Supermarket Type1,2085.2856
40,FDU02,13.35,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
...,...,...,...,...,...,...,...,...,...,...,...,...
8497,FDT08,13.65,Low Fat,0.049209,Fruits and Vegetables,150.0050,OUT035,2004,Small,Tier 2,Supermarket Type1,2247.0750
8499,NCK53,11.60,Low Fat,0.037574,Health and Hygiene,100.0042,OUT035,2004,Small,Tier 2,Supermarket Type1,2976.1260
8503,FDQ44,20.50,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [40]:
# small size outlet close to such these values of stocks for low fat / LF. 

smallsize_lowfat_outlets['Outlet_Type'].unique()

array(['Supermarket Type1', 'Grocery Store'], dtype=object)

                                            ***

#### Q5: 5. Find the items which have MRP higher than 200 and count how many of them are low fat / LF, reg fat / reg

In [43]:
# items which have MRP higher than 200

MRP_outlets = df.loc[ df['Item_MRP'] >= 200] 

MRP_outlets

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8510,FDN58,13.800,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [53]:
# Items whose MRP is greater than 200 and have low fat content 
lowfat_outlets = MRP_outlets.loc[MRP_outlets['Item_Fat_Content'] == 'Low Fat'] 

lowfat_outlets.count()

#Answer: Total 862 items have MRP greater than 200 and low fat content

Item_Identifier              862
Item_Weight                  725
Item_Fat_Content             862
Item_Visibility              862
Item_Type                    862
Item_MRP                     862
Outlet_Identifier            862
Outlet_Establishment_Year    862
Outlet_Size                  616
Outlet_Location_Type         862
Outlet_Type                  862
Item_Outlet_Sales            862
dtype: int64

In [82]:
# Items whose MRP is greater than 200 and have reg fat content 
regfat_outlets = MRP_outlets.loc[MRP_outlets['Item_Fat_Content'] == 'Regular'] 

regfat_outlets.count()

#Answer: Total 488 items have MRP greater than 200 and low fat content

Item_Identifier              488
Item_Weight                  407
Item_Fat_Content             488
Item_Visibility              488
Item_Type                    488
Item_MRP                     488
Outlet_Identifier            488
Outlet_Establishment_Year    488
Outlet_Size                  359
Outlet_Location_Type         488
Outlet_Type                  488
Item_Outlet_Sales            488
dtype: int64

#### Q6: Find the outlets with highest sales in Tier 2. Also find similar outlets in Tier 3 locations?

#### Q6 Part 1

In [62]:
# Q6 Part 1
#First of all we will find out Outlets with highest sales in Tier 2. 

tier2_outlets= df.loc[df['Outlet_Location_Type'] == 'Tier 2'] 
tier2_outlets

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
19,FDU02,13.35,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
22,NCB30,14.60,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
25,NCD06,13.00,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
...,...,...,...,...,...,...,...,...,...,...,...,...
8510,FDN58,13.80,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8513,FDH31,12.00,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.60,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136

In [72]:
#Now we will find out highest sales in tier 2 
tier2_outlets['Item_Outlet_Sales'].max()

9664.7528

In [75]:
# based on the value 96664.7528 we will identify the highest selling outlets in tier 2

highestsales_tier2_outlets= tier2_outlets.loc[tier2_outlets['Item_Outlet_Sales'] == 9664.7528] 
highestsales_tier2_outlets

# OUT017 i.e. Supermarket Type1 is the highest selling outlet in tier 2.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4961,FDK03,12.6,Regular,0.074339,Dairy,255.5356,OUT017,2007,NaN,Tier 2,Supermarket Type1,9664.7528

#### Q6 Part 2

In [76]:
# Q6 Part 2
#First of all we will find out Outlets with highest sales in Tier 3. 

tier3_outlets= df.loc[df['Outlet_Location_Type'] == 'Tier 3'] 
tier3_outlets

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
...,...,...,...,...,...,...,...,...,...,...,...,...
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [77]:
#Now we will find out highest sales in tier 3
tier3_outlets['Item_Outlet_Sales'].max()

13086.9648

In [80]:
# based on the value 96664.7528 we will identify the highest selling outlets in tier 3

highestsales_tier3_outlets= tier3_outlets.loc[tier3_outlets['Item_Outlet_Sales'] == 13086.9648] 
highestsales_tier3_outlets

# OUT027 i.e. Supermarket Type3 is the highest selling outlet in tier 3.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7188,NCE42,NaN,Low Fat,0.010551,Household,234.9958,OUT027,1985,Medium,Tier 3,Supermarket Type3,13086.9648

                                            ***