                             LAB ASSIGNMENTS 

                Module 1: Data Science and Programming Tools
    
             Python Data Types and Language Basics, Python Functions

In [1]:
#Importing required libraries in one cell followed as a best practise in every Jupyter notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Q1. Reverse a given list in Python List = [100, 200, 300, 400, 500]

In [2]:
List = [100, 200, 300, 400, 500]
List.reverse()
print(List)

[500, 400, 300, 200, 100]

Q2. Concatenate two following given lists index-wise.
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]

In [3]:
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]

concatenated_list = [x + y for x, y in zip(list1, list2)]
print(concatenated_list)

['My', 'name', 'is', 'Rajesh']

Q3. Given a Python list of numbers. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]

In [4]:
aList = [1, 2, 3, 4, 5, 6, 7]
squared_list = [x**2 for x in aList]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

Q4. Concatenate two lists in the following order

In [5]:
# To concatenate two lists in a specific order, you can use nested loops or list comprehensions

list1 = ["Hello ", "Welcome "]
list2 = ["Students", "Sir"]

concatenated_list = []
for item1 in list1:
    for item2 in list2:
        concatenated_list.append(item1 + item2)

print(concatenated_list)

['Hello Students', 'Hello Sir', 'Welcome Students', 'Welcome Sir']

Q5. Accept numbers from user and store it in a list1 and list2 then convert these list into array create list3 and list4 to store numbers.

In [6]:
# Accepting numbers from the user and store them in list1
list1 = []
n = int(input("Enter the number of elements for list1: "))
for _ in range(n):
    num = int(input("Enter a number for list1: "))
    list1.append(num)

# Accepting numbers from the user and store them in list2
list2 = []
n = int(input("Enter the number of elements for list2: "))
for _ in range(n):
    num = int(input("Enter a number for list2: "))
    list2.append(num)

# Converting list1 and list2 into arrays
array1 = np.array(list1)
array2 = np.array(list2)

# Creating list3 and list4 to store numbers from array1 and array2
list3 = array1.tolist()
list4 = array2.tolist()

# Printing the lists and arrays
print("list1:", list1)
print("list2:", list2)
print("array1:", array1)
print("array2:", array2)
print("list3:", list3)
print("list4:", list4)

Enter the number of elements for list1: 4
Enter a number for list1: 12
Enter a number for list1: 23
Enter a number for list1: 34
Enter a number for list1: 54
Enter the number of elements for list2: 2
Enter a number for list2: 11
Enter a number for list2: 12
list1: [12, 23, 34, 54]
list2: [11, 12]
array1: [12 23 34 54]
array2: [11 12]
list3: [12, 23, 34, 54]
list4: [11, 12]

Q6: Write a python program to create class Student with instance student name, subject and marks. Print the output.

In [8]:
class Student:
    def __init__(self, name, subject, marks):
        self.name = name
        self.subject = subject
        self.marks = marks

    def display_student_info(self):
        print("Student Name:", self.name)
        print("Subject:", self.subject)
        print("Marks:", self.marks)


# Create an instance of the Student class
df = Student("Ram Lakhan", "Aptitutde", 54)

# Print the student information
df.display_student_info()

Student Name: Ram Lakhan
Subject: Aptitutde
Marks: 54

                                                ***